*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.header{
  color: white;
  font-size: 3em;
  font-family: 'Audiowide', cursive;
}

.btn{
  padding-top: 2vh;
}

a{
  display: flex;
  text-decoration: none;
  padding: 1em;
  background-color: black;
  color: white;
}